 * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
 }

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.navbar, .header, .footer {
    color: #fff;
    background-color: #1f2937;
}

.navbar .menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
.navbar a {
    text-decoration: none;
    color: inherit;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    font-size: 18px;
    color: #e5e7eb;
    padding: 20px 100px;
}

.header h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header button {
    padding: 10px 30px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #3882f6;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

img {
    width: 500px;
    height: auto;
}
ul {
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content:center
}

li img {
    max-width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 15px;
    line-height: 1;
    margin-bottom: 10px;
    text-align: justify;
}
h2 {
    font-size: 36px;
    text-align: center;
    margin: 20px 20px;
    color: #1f2937
    weight: 900;
}

.hero   {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 20px 100px;
    flex-direction: column;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: light-italic;
    color: #1f2937;
    padding: 100px 0;
}